* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

h4 {
  color: maroon;
}
h3 {
  color: teal;
}

a:focus {
    background-color: salmon;
}

h1 {
    color: firebrick;
}

a {
    color: rgb(173, 122, 182);
}